{{!-- This page is only for testing form layouts --}}
<label for="dropdown">Ehto</label>
<table>
    <tr>
        <td>
            <select name="dropdown" id="dropdown">
                <option value="Hippopotamus">Hippopotamus</option>
                <option value="Kirahvi">Kirahvi</option>
            </select>
        </td>
        <td>
            <input type="checkbox" name="useAnimal" id="useAnimal">
        </td>
    </tr>
</table>