{{!-- Home page for login --}}
<div style="container">
    <div class="alignment-box">
        <form action="/welcome" method="post">
            <label for="user">Sähköpostiosoite</label><br>
            <input class="input-field" type="email" name="user" id="user"><br>
            <label for="password">Salasana</label><br>
            <input class="input-field" type="password" name="password" id="password"><br>
            <input class="vapaana-btn" type="submit" value="Kirjaudu">
        </form>
    </div>
</div>

