{{!-- Home page for login --}}
<div style="container">
    <div class="alignment-box">
        <form action="welcome">
            <label for="user">Sähköpostioisoite</label><br>
            <input class="input-field" type="email" name="user" id="user"><br>
            <label for="password">Salasana</label><br>
            <input class="input-field" name="password" id="password"><br>
            <input class="vapaana-btn" type="submit" value="Kirjaudu">
        </form>
    </div>
</div>

