<body>
    <div class="container">
        <h1>Sinulla ei ole oikeuksia tämän sivun käyttämiseen</h1>
        <h2>Jos et ole kirjautunut tai istuntosi on vanhentunut, kirjaudu uudelleen</h2>
        <p>Sovelluksessa on erilaisia käyttäjärooleja eri käyttäjäryhmille. Käyttäjätunnuksesi ei anna oikeutta käyttää kaikkia sivuja.</p>
        <ul>
            <li>Opiskelija-rooli antaa oikeuden katsoa vapaat ja ajossa olevat autot. Muihin tietoihin ei ole pääsyoikeutta</li>
            <li>Opettaja-rooli mahdollistaa lisäksi oikeuden ajotietojen tarkasteluun</li>
            <li>Hallinnoija-rooli mahdollistaa kaikkien tietojen tarkastelun</li>
        </ul>
        <div class="align-center">
            <a class="raseko-btn" href="/">Kirjaudu</a>
        </div>
    </div>
</body>