<body>
    <div class="container">
        <div class="align-center">
        <h1>Sovelluksen käyttäminen edellyttää kirjautumisen</h1>
        <h2>Kirjaudu sisään</h2>
        <a class="raseko-btn" href="/">Kirjaudu</a>
        </div>
    </div>
</body>