<body>
    <div class="container">
        <h1>Olet kirjautunut ulos ajoneuvohallintasovelluksesta</h1>
        <h2>Kiitos käynnistä, tervetuloa uudelleen</h2>
        <a href="/">Kirjaudu uudelleen</a>
    </div>
</body>