<body>
    <div class="container">
        <div class="align-center">
        <h1>Et ole kirjautunut tai istuntosi on vanhentunut!</h1>
        <h2>Jos haluat vielä jatkaa sovelluksen käyttöä, kirjaudu uudelleen</h2>
        <a class="raseko-btn" href="/">Kirjaudu</a>
        </div>
    </div>
</body>