<body>
    <div class="container">
        <div class="align-center">
        <h1>Olet kirjautunut ulos ajoneuvohallintasovelluksesta</h1>
        <h2>Kiitos käynnistä, tervetuloa uudelleen</h2>
        <a class="raseko-btn" href="/">Kirjaudu uudelleen</a>
        </div>
    </div>
</body>