<body>
    <div class="container">
        <h1>Et ole kirjautunut tai istuntosi on vanhentunut!</h1>
        <h2>Jos haluat vielä jatkaa sovelluksen käyttöä, kirjaudu uudelleen</h2>
        <a href="/">Kirjaudu</a>
    </div>
</body>