<body>
    <h1>Tässä on käyttäjä</h1>
    <svg class="icon-large"><use href="icons/autoSovellusRasekoSprites.svg#UserinscapeV2.svg"></use></svg>
    <svg class="icon-large"><use href="icons/autoSovellusRasekoSprites.svg#time.svg"></use></svg>
</body>