<body>
    {{> menu }}
<div class="container">
    <h1 class="align-center">Auton kaikki ajot</h1>
    <p class="align-center">Seuraavasta taulukosta näkyy valitsemasi auton kaikki ajot</p>
    <div class="alignment-box">
        <table>
            <tr>
                <th>Kuljettaja</th>
                <th>Tarkoitus</th>
                <th>Lähtö</th>
                <th>Paluu</th>
            </tr>
            {{#each diaryData}}
            <tr class="tr-highlighted">    
                <td>{{nimi}}</td>
                <td>{{tarkoitus}}</td>
                <td>{{otettu}}</td>
                <td>{{palautettu}}</td>
            </tr>
            {{/each}}
        </table>
    </div>
</div>
</body>