<body>
    <div class="card-group">
        
        <div class="card"><img class="vehicle-image" src="/images/FNK-129.png" />
            <div class="card-body">
                <h4 class="card-title">FNK-129  <br>on vapaana</h4>
                <p class="card-text">Joku auto ja malli<br />henkilömäärä 5<br />automaatti </p>
                <button class="vapaana" type="button">Näytä</button>
            </div>
        </div>

        <div class="card"><img class="vehicle-image" src="/images/FPB-343.png" />
            <div class="card-body">
                <h4 class="card-title">FPB-343  <br>on vapaana</h4>
                <p class="card-text">Joku auto ja malli<br />henkilömäärä 5<br />automaatti </p>
                <button class="vapaana" type="button">Näytä</button>
            </div>
        </div>

        <div class="card"><img class="vehicle-image" src="/images/XUX-682.png" />
            <div class="card-body">
                <h4 class="card-title">XUX-682  <br>on ajossa</h4>
                <p class="card-text">Joku auto ja malli<br />henkilömäärä 5<br />automaatti </p>
                <button class="ajossa" type="button">Näytä</button>
            </div>
        </div>
        <div class="card"><img class="vehicle-image" src="/images/XUX-682.png" />
            <div class="card-body">
                <h4 class="card-title">XUX-682  <br>on ajossa</h4>
                <p class="card-text">Joku auto ja malli<br />henkilömäärä 5<br />automaatti </p>
                <button class="ajossa" type="button">Näytä</button>
            </div>
        </div>
        <div class="card"><img class="vehicle-image" src="/images/XUX-682.png" />
            <div class="card-body">
                <h4 class="card-title">XUX-682  <br>on ajossa</h4>
                <p class="card-text">Joku auto ja malli<br />henkilömäärä 5<br />automaatti </p>
                <button class="ajossa" type="button">Näytä</button>
            </div>